.task-editing__options{
    display: flex;
    flex-flow: row-reverse;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 40px;
    min-width: 40px;
    height: fit-content;
    padding: 5px 7px;
    border-radius: 10px;
    background-color: var(--second-contrast-color-op-a6);
    transition: width .18s;
    overflow: hidden;
}

.options--deployed{
    width: 110px;
    transition: width .25s;
}

.task-editing__deploy, .task-editing__button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    /* width: 30px; */
    /* height: 30px; */
    padding: 5px 0;
    border: none;
    border-radius: 10px;
    color: var(--main-color);
    background-color: var(--contrast-color);
    opacity: .9;
    font-size: .85em;
    cursor: pointer;
    transition: scale .2s, color .3s, background-color .3s;
}

.task-editing__deploy:hover{
    color: var(--contrast-color);
    background-color: var(--main-color);
}

.task-editing__deploy:active{
    scale: .96;
}


.task-editing__menu{
    display: flex;
    list-style: none;
}

.task-editing__menu > li{
    margin-right: 10px;
}


.task-editing__button:hover{
    color: var(--contrast-color);
    background-color: var(--main-color);
}

.task-editing__button:active{
    scale: .96;
}