.task{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 150px;
    background-color: var(--secondary-color);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
    transition: background-color .28s, scale .2s;
    z-index: 10;
}

.task:hover{
    scale: 1.02;
}

.task:active{
    scale: .98;
}

.task--completed{
    background-color: var(--completed-task-color);
}

.task__title{
    max-height: 30%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}