.main-container__task-check{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--second-contrast-color);
    color: var(--main-color);
    font-weight: bold;
    opacity: 0.6;
    cursor: pointer;
    transition: color .2s;
    z-index: 20;
}

.main-container__task-check:hover{
    color: #0f0;
}

.task-check--uncomplete:hover{
    color: #a00;
}


.main-container__task-check::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color .17s;
}

.main-container__task-check:hover::before{
    background-color: #0f02;
}

.task-check--uncomplete:hover::before{
    background-color: #f003;
}