.task-editing{
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    /* width: clamp(450px, 65%, 1200px); */
    height: 100dvh;
    margin: auto;
    padding: 20px;
    padding-bottom: 0;
    background-color: var(--secondary-color);
    overflow: hidden;
    z-index: 1000;
    animation: fade .14s 1 forwards running;
}


.task-editing__return{
    position: absolute;
    top: 10px;
    left: 20px;
    padding: 3px 5px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    background-color: #0000;
    cursor: pointer;
    transition: scale .2s;
}

.task-editing__return:hover{
    scale: 1.025;
}

.task-editing__return:active{
    scale: .98;
}


.task-editing__title{
    width: 100%;
    min-height: calc(1lh + 7px);
    max-height: calc(1lh + 7px);
    margin: 35px 0 15px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid var(--font-color);
    outline: none;
    color: var(--font-color);
    background-color: transparent;
    font-size: 2em;
    scrollbar-width: thin;
    scrollbar-color: var(--second-contrast-color) transparent;
    scrollbar-gutter: stable;
    resize: none;
}

.title--readonly:hover{
    cursor: default;
}

.title--readonly:active{
    cursor: not-allowed;
}

.task-editing__title::placeholder{
    opacity: .68;
    color: var(--font-color);
}


.task-editing__text{
    width: 100%;
    height: calc(100% - 1lh - 2em - 44px);
    padding: 4px;
    padding-right: 5px;
    border: none;
    outline: none;
    color: var(--font-color);
    background-color: var(--secondary-color);
    font-size: 1.1em;
    white-space: pre-wrap;
    scrollbar-width: thin;
    scrollbar-color: var(--second-contrast-color) transparent;
    scrollbar-gutter: stable;
    resize: none;
}

.text--readonly:hover{
    cursor: defaultd;
}

.text--readonly:active{
    cursor: not-allowed;
}

.task-editing__text::placeholder{
    opacity: .68;
    color: var(--font-color);
}





@keyframes fade {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}