.add-task{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    color: var(--main-color);
    background-color: var(--second-contrast-color);
    font-size: 1em;
    transition: opacity .2s, scale .2s;
    cursor: pointer;
    z-index: 900;
}

.add-task:hover{
    opacity: 0.8;
    scale: 1.08;
}

.add-task:active{
    opacity: 1;
    scale: .92;
}