:root{
    --main-color: #8AC6D0;
    --secondary-color: #63768D;
    --contrast-color: #36213E;
    --second-contrast-color: #554971;
    --second-contrast-color-op-a6: #554971a6;
    --highlight-color: #B8F3FF;
    --delete-task-color: #ff5151;
    --completed-task-color: #2a6;
    --font-color: #2b2b2b;
    --mobile-ux: 450px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color: var(--main-color);
}